.header nav ul{
  list-style-type: none;
}
.header nav ul li{
  float: left;
}
.header nav ul li a{
  display: block;
  padding: 0px 15px;
  text-decoration: none;
}
.header nav {
  margin-left: 70%;
}
.aboutMe{
  clear: both;
}
.image img{
  border-radius: 30px;
  height: 200px;
  width: 200px;
}
.name{
  clear:both;
  text-align: center;
}